<div ng-include="'components/navbar/navbar.html'"></div>

<div class="top-shot-full" ng-hide="showVideos">
  <div class="main-circle">
    <div ng-repeat="user in top8 | orderBy:'order'">
      <div class="avatar-text">{{user.name}}</div>
      <img ng-click="selectStream(user.name)" ng-src="{{user.logo}}"/>
    </div>
  </div>
</div>

<div ng-show="showVideos">
  <div class="top-shot-small">
    <div ng-repeat="user in top8 | orderBy:'order'" repeat-done="buttonStart()">
      <img alt="{{user.name}}" ng-click="smallSelect(user.name)" ng-src="{{user.logo}}" title="{{user.name}}"/>
    </div>
  </div>

  <div class="bar"></div>

  <div class="video-section">
    <div>
      <h1 class="twitch-name">{{twitchName}}</h1>
      <div class="video" ng-show="showVideos">
        <div class="videogular-container">
          <videogular ng-mouseenter="showControls = true" ng-mouseleave="showControls = false" vg-preload="auto">
            <vg-media vg-src="sources.sources"></vg-media>

            <vg-controls ng-show="showControls" vg-autohide-time="sources.plugins.controls.autoHideTime" vg-autohide="sources.plugins.controls.autoHide">
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
          </videogular>
        </div>

        <div class="vid-bottom">
          <p class="votes">
            <span class="fa fa-arrow-circle-up {{styleUpVote}}" ng-click="vote('up')"></span>
            <span class="fa fa-arrow-circle-down {{styleDownVote}}" ng-click="vote('down')"></span>
          </p>
          <p class="game-title">{{mainGame}}</p>
          <p class="report">Report
            <span class="fa fa-flag"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="more-videos">

    <h1>Recent Shots</h1>

    <div ng-repeat="videos in stream">
      <div ng-repeat="shot in videos.oddshots.slice().reverse()">
        <img alt="" class="preview" ng-class='{select:$index == selectedVideo}' ng-click="selectShot(shot.link, shot.game, $index)" ng-src="{{shot.preview}}"/>
      </div>
    </div>

  </div>

</div>

<footer class="{{footerStyle}}">
  <p>ABOUT</p>|
  <p>FAQ</p>|
  <p>TWITTER</p>
</footer>